:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-background-color: Canvas;
    --pico-color: CanvasText;
    --pico-border-radius: 10px;
    --pico-nav-link-spacing-vertical: 0.4rem;
    --pico-nav-link-spacing-horizontal: 0.7rem;
  }
}

html,
body {
  background: Canvas;
  color: CanvasText;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav svg {
  vertical-align: middle;
}

#title {
  display: flex;

  .path {
    font-size: 0.85rem;
    padding-inline: 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.5;
  }
}

main {
  flex: 1;
  display: flex;

  &.empty {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.images {
    flex-direction: row;

    >p {
      display: none;
    }
  }
}

main.images {
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  .image {
    padding: 1rem 0.5rem;
    display: flex;
    flex: 0 0 calc(100vw - 1rem);
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;

    img {
      border-radius: 1rem;
      box-shadow: 0 0 0 2px oklch(70% 0.09 247 / 60%);
      max-width: 100%;
      max-height: calc(100vh - 6rem);
      margin-bottom: 2rem;
      object-fit: contain;
      transition: box-shadow 0.2s;
    }
  }

  .keep img {
    box-shadow: 0 0 0 4px oklch(59% 0.12 165 / 100%);
  }

  .discard img {
    box-shadow: 0 0 0 4px oklch(54% 0.22 29 / 100%);
  }
}
